@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Work+Sans:ital,wght@0,400;0,500;0,800;1,200&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --dark: black;
    --darker: lightgrey;
    --light: white;
    --green: rgba(65,180,0,0.8);
    --red: rgba(253,29,29,1);
    --button: darkgrey;
}

body {
    background: linear-gradient(125deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: var(--dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 800px 0px;
}

.app {
    margin: 25px;
    background-color: var(--light);
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
}

header {
    font-size: 20px;
}

#add-new-task {
    margin: 20px;
    border: 1px solid var(--darker);
    border-radius: 5px;
}

#new-task-form {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#new-task-input {
    width: 70%;
    border: 0px;
    
}

#new-task-input:hover {
    cursor: pointer;
}

#new-task-input:hover::placeholder {
    text-decoration: underline;
}

#new-task-input:focus-visible {
    outline: 0px;
}

#new-task-input:focus::placeholder {
    color: var(--light);
}

#new-task-submit {
    width: 20%;
    background-color: var(--darker);
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
}

#new-task-submit:hover {
    background-color: var(--green);
    color: var(--light);
}

#tasks {
    display: flex;
    flex-direction: column;
}

#tasks .edit {
    font-weight: bold;
    color: var(--button);
    border: 0px;
    background-color: var(--light);
    border-radius: 5px;
}

#tasks .delete {
    font-weight: bold;
    color: var(--button);
    border: 0px;
    background-color: var(--light);
    border-radius: 5px;
}

#tasks .edit:hover {
    background-color: var(--green);
    border: 0px;
    border-radius: 5px;
    color: var(--light);
}

#tasks .delete:hover {
    background-color: var(--red);
    border: 0px;
    border-radius: 5px;
    color: var(--light);
}

.task {
    background-color: var(--darker);
    margin: 10px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
}

.text {
    background-color: var(--darker);
    border: 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 1.75rem;
    }

    .app {
        max-width: 350px;
        min-height: 650px;
    }

    form {
        max-width: 275px;
        font-size: 1.2rem;
    }

    .task {
        max-width: 275px;
    }
}

@media screen and (max-width: 370px) {
    h1 {
        font-size: 1.5rem;
    }

    .app {
        max-width: 300px;
        min-height: 400px;
    }

    form {
        max-width: 220px;
        font-size: 1.2rem;
    }

    .task {
        max-width: 220px;
        display: block;
    }

    .edit {
        font-size: 0.5rem;
    }
    .delete {
        font-size: 0.5rem;
    }
}